*/.idea
*/.idea/
*/.idea/*
.idea/
.idea/*
assignment\ 1/__pycache__/
assignment\ 1/*.pyc
*/*.pyc
Report/*.aux
*/Report/*.aux
Report/*.pdf
*/Report/*.pdf
Report/*.log
*/Report/*.log
Report/*.out
*/Report/*.out
Report/*.gz
*/Report/*.gz
Report/*.gz
*/Report/*.dvi
assignment\ 1/thomsen.haarslev.nielsen.zip
assignment\ 1/Thomsen.Haarslev.Nielsen_*.zip
*/Report/*.toc
*/Report/kristoffers\ rapport/*
Exam/*
assignment\ 3/thomsen.haarslev.nielsen.zip
exam/*
